{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div class = 'flash'>
	{% with messages = get_flashed_messages() %}
		{% if messages %}  
			<ul>
			{% for message in messages %}
		    	<li> <strong> {{ message }} </strong> </li>
		    {% endfor %}
		 	</ul>
		{% endif %}
	{% endwith %}
</div>



<div class="container">
<div class="row">
	<div class="column">
	<h2>Categories</h2>
	{% for catalog in catalogs %}
		<a href = "{{url_for('showItems', catalog_name = catalog.name)}}">
			<h3>{{catalog.name}}</h3>
		</a>
	{% endfor %}
	</div>

	<div class="column vl">
		<div class="col-md-1"></div>
	</div>

	<div class="column">
		<a href = "{{url_for('newItem')}}">
			<h3>Add Item</h3>
		</a>

		<h2>Latest Items</h2>
		{% if items !=[] %}	
			{% for item in items %}
				<h3-left>{{item.name}}</h3-left>
	
				{% for catalog in catalogs %}
					{% if catalog.id == item.catalog_id %}
						<h3-right>({{catalog.name}})</h3-right>		
					{% endif %}
				{% endfor %}
				
				<hr />	
			{% endfor %}
		{% endif %}

	</div>

</div>
</div>


{% endblock %}
